.circle-container {
    margin: 9vw auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    position: relative;
    font-family: monospace;
    color: rgb(38, 13, 160);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1.7vw;
    background: white;
    border: 4px solid rgb(48, 48, 48);
    border-radius: 50%;
    width: 18vw;
    height: 18vw;
    text-shadow: rgb(182, 182, 182) 0 0 10px;
}

.line {
    color: white;
    font-size: 1.4vw;
    padding: 5px 0;
    background: rgb(77, 192, 43);
    border: 2px solid rgb(77, 192, 43);
    border-top-color: rgb(58, 131, 36);
    border-bottom-color: rgb(171, 248, 148);
    animation: Width 2s ease-in-out infinite;
}

.right {
    right: 0;
    box-shadow: rgb(167, 166, 166) 5px 5px 15px;
}

.left {
    left: 0;
    box-shadow: rgb(167, 166, 166) -5px 5px 10px;
}

@keyframes Width {
	0% {
		width: 11%
	}
	50% {
		width: 100%
	}
	100% {
		width: 11%
	}
}

.resume-container {
    overflow: hidden;
}

.slider {
    background: url('https://www.freeiconspng.com/uploads/resume-icon-png-15.png')repeat-x;
    background-size: 25vw auto;
    height: 560px;
    width: 5076px;
    animation: Slide 10s linear infinite;
}

@keyframes Slide {
    0%{
        transform: translate3d(0, 0, 0)
    }
    100%{
        /* Has to match the width of the background url */
        transform: translate3d(-25vw, 0, 0) 
    }
}

.block-container {
    display: flex;
    height: 66vh;
    width: 90%;
    margin: 1.5vw auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-container > div {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.prop-text {
    margin-right: 10px;
    color: black;
    display: flex;
    align-items: center;
    height: calc(66vh/3);
    font-size: 2.5vw;
    flex: 3;
    padding-left: 50px;
    text-align: right;
}

.block {
    height: calc(66vh/3);
    color: white;
    display: flex;
    flex: 1.2;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    font-weight: 700;
}

.skew-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70vh;
    max-width: 70vw;
    position: relative;
    overflow: hidden;
    font-size: 2.5vw;
}

.skew-content {
    transform: skewX(-8deg);
    padding: 0 55px;
    width: 39vw;
    font-size: 2.5vw;
    transform-origin: top left;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: grey 5px 0 13px;
}

.skew-container div:nth-child(2) {
    transform: skewX(-8deg);
    width: 42%;
    align-self: center;
    justify-self: center;
    padding-right: 55px;
}

.interactive-container {
    height: 80vh;
    width: 80vw;
    display: flex;
    margin: 0 auto;
    font-size: 2.3vw;
    flex-direction: column;
    align-items: center;
    color: white;
}

.drawer {
    overflow: hidden;
    transition: all 0.8s ease-in-out;
    font-size: 2.3vw;
}

.drawer img {
    max-width: 10vw;
}

.empty {
    height: 0;
}

.one {
    height: calc((80vh/3 - 50px/3) * 1);
}

.two {
    height: calc((80vh/3 - 50px/3) * 2);
}

.three {
    height: calc((80vh/3 - 50px/3) * 3);
}

.interactive-item {
    height: calc(80vh/3 - 50px/3);
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
}

.clickable {
    cursor: pointer;
    color: white;
    display: initial;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 4vw;
}

.clickable:hover {
    transform: scale(1.01);
    transition: all 0.03s ease;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.info {
    margin-top: 10px;
    color: white;
    border-radius: 9px;
}

.info::before {
    content: '';
    position: absolute;
    right: 50%;
    margin-top: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #aec33a transparent;
}

.gradient-container {
    background-size: 400% 400%;
    animation: Gradient 8s ease infinite;
    height: 78vh;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 1.3em;
    color: white;
}


@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.hiring-container {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-title {
    color: white;
    font-weight: 400;
    padding: 1vw;
    font-family: 'Viga', sans-serif;
    flex: 2;
    text-transform: uppercase;
    font-size: 3vw;
    color: black;
    display: flex;
    align-items: center;
}

.resources {
    display: flex;
    width: 70vw;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.resources-container {
    border-radius: 15px;
    flex: 2.5;
    display: flex;
    padding: 2% 5%;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2.5vw;
}

.resources a {
    margin: 0 auto;
    outline: none;
    justify-self: center;
}

.resources a button {
    padding: 1.5vw 2vw;
    border-radius: 15px;
    cursor: pointer;
    font-size: 2vw;
    border: none;
    box-shadow: 3px 3px 10px rgb(158, 157, 157);
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: scale(1);
    transition: 0.3s all ease;
}

.resources a button:hover {
    transform: scale(1.05);
    transition: 0.3s all ease;
}


.name {
    font-weight: 700;
    font-size: 2.2vw;
}

.resources a button svg {
    fill: white;
    width: 3vw;
}

@media (max-width: 1000px) {
    .resources a .svg-button {
        padding: 2px 2vw;
    }
}